.mainContainer {
  background: rgb(236, 234, 234);
  width: 600px;
  height: 80vh;
  padding: 75px;
  text-align: center;
}
.mainContainer div {
  display: flex;
}
.mainContainer #card {
  width: 420px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: x-large;
}
input {
  width: 350px;
  height: 35px;
  font-size: 25px;
  background: #f5f3f3;
}
#addBtn {
  width: 70px;
  height: 35px;
  color: white;
  background-color: crimson;
  border: none;
}
#editBtn {
  width: 70px;
  height: 35px;
  color: white;
  background-color: rgb(23, 20, 220);
  border: none;
}
#delBtn {
  width: 70px;
  height: 35px;
  color: white;
  background-color: rgb(23, 20, 220);
  border: none;
  margin-right: 10px;
}
.cardContainer {
  margin-top: 15px;
  background-color: white;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
/* .cardContainer button {
 
} */
