* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.cardContainer {
  width: 300px;
  height: 80px;
}
